.logo-container {
    display: flex;
    align-items: center;
    /*align-i*/
}

/* Optional: Apply a margin between logos if needed */
#headerLogo, #fyncomProductLogo {
    margin-right: 10px; /* or any value that fits your design */
}

#fyncomProductLogo {
    margin-top: 20px; /* or any value that fits your design */
}

.arrow-container {
    width: 30px; /* Length of the arrow */
    height: 2px; /* Thickness of the arrow */
    background-color: white; /* Color of the arrow */
    position: relative;
    margin: 0 10px; /* Adjust the margin as needed */
}

.arrow-container::before {
    content: "";
    border-top: 2px solid white; /* Adjust border size and color as needed */
    border-right: 2px solid white; /* Adjust border size and color as needed */
    width: 10px; /* Length of arrowhead */
    height: 10px; /* Height of arrowhead */
    position: absolute;
    right: -7px; /* Position of arrowhead */
    top: -5px; /* Position of arrowhead */
    transform: rotate(45deg);
}
