.filter-custom-page {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}
.filter-custom-page p {
  max-width: unset;
}
.setup-section h1,
.setup-section h2,
.setup-section h3,
.setup-section p {
  /*.videos-section h3,  .videos-section p {*/
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 1rem;
  padding: 10px;
}
/* to create the underline effect - change the css classes as needed for others*/
.setup-instructions > h2,
.videos-section > h3 {
  text-align: left;
  position: relative; /* Makes sure the pseudo-element positions itself relative to the h3 */
}
.setup-section .setup-instructions h2::after,
.videos-section h3::after {
  content: ""; /* This is necessary for the pseudo-element to show */
  position: absolute; /* Allows precise positioning */
  left: 0.2rem;
  right: 40rem;
  bottom: -8px;
  height: 2px; /* Thickness of the underline */
  background: var(--color-bar);
}
.videos-container {
  display: flex;
  justify-content: left;
  gap: 20px;
}
.video-description {
  max-width: 560px;
  text-align: left;
  margin: 0;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}
.video {
  flex: 1;
  /*flex-basis: 50%; !* Each video description takes up half the width of the container *!*/
  display: block;
  width: 100%;
  height: 100%;
  padding-bottom: 31.25%;
  position: relative;
  max-width: 960px;
}

@media (max-width: 768px) {
  .setup-section .setup-instructions h2::after,
  .videos-section h3::after {
    left: 0; /* Align pseudo-element to the left */
    right: 0; /* Align pseudo-element to the right */
    bottom: -8px;
    width: 50px; /* Set a fixed width for the underline */
    margin: 0 auto; /* Center the underline */
  }
  .email-filters-rewards-container {
    margin-left: 0;
    flex-direction: column;
  }
  .setup-section h1,
  .setup-section h2,
  .setup-section h3,
  .setup-section p {
    padding: 0.5rem;
    margin: 10px;
    text-align: center;
  }
  ol {
    margin: unset;
  }
  ul {
    padding: 0;
  }
  .videos-container {
    flex-direction: column;
    justify-content: center;
  }
  .video-description {
    width: unset;
    justify-content: center;
    align-self: center;
  }
  .video {
    align-items: center;
    justify-content: center;
    width: unset;
    padding-bottom: 5%; /* Adjust padding-bottom to maintain aspect ratio on mobile */
  }
}
